<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://zomp.co/z/ZompWebService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="Zomp.IService"
                name="WSHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>
